.containerCadastro {
   max-width: 600px;
   margin: 0 auto;
   padding: 20px;
   background-color: #f9f9f9;
   border-radius: 20px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-groupCadastro {
   margin-bottom: 20px;
}

.labelCadastro {
   font-weight: bold;
   margin-bottom: 5px;
   display: block;
}

.inputCadastro,
.buttonCadastro {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 1em;
}

.buttonCadastro {
   margin-top: 10px;
   background-color: #759CCF;
   color: #fff;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.buttonCadastro:hover {
   background-color: #4b6e9b;
}