@font-face {
   font-family: "Pump W04 Medium";
   src: url('../../assets/font/Pump W04 Medium/Pump W04 Medium.ttf') format('truetype');
}

.navbarHeader {
   padding: 10px 0;
   background-color: #ffffff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   width: 100%;
   z-index: 1000;
}

.nav-linksHeader {
   display: flex;
   gap: 30px;
   justify-content: center;
   align-items: center;
   padding-top: 10px;
   margin-right: 20px;
}

.nav-linksHeader a {
   color: black;
   text-decoration: none;
   transition: all 0.3s ease;
   position: relative;
}

.nav-linksHeader a:hover {
   color: #ED2592;
}

.nav-linksHeader a::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: -5px;
   left: 0;
   background-color: #ED2592;
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 0.3s ease;
}

.nav-linksHeader a:hover::before {
   transform: scaleX(1);
   transform-origin: left;
}

.nav-logoHeader {
   font-size: 3.5rem;
   color: #ED2592;
   font-weight: bolder;
   margin-left: 20px;
   text-decoration: none;
   font-family: "Pump W04 Medium", sans-serif;
}

.menu-iconHeader {
   display: none;
   cursor: pointer;
   color: black;
   font-size: 2rem;
   position: absolute;
   top: 15px;
   right: 20px;
}


@media (max-width: 768px) {
   .nav-linksHeader {
      display: none;
      flex-direction: column;
      background-color: #759CCF;
      top: 70px;
      left: 0;
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
   }

   .nav-linksHeader.active {
      display: flex;
   }

   .menu-iconHeader {
      display: block;
   }

   .menu-iconHeader.active .bar {
      background-color: transparent;
   }

   .menu-iconHeader.active .bar::before,
   .menu-iconHeader.active .bar::after {
      top: 0;
      transform: rotate(45deg);
   }

   .menu-iconHeader.active .bar::after {
      transform: rotate(-45deg);
   }

   .bar {
      width: 25px;
      height: 3px;
      background-color: black;
      margin: 5px auto;
      transition: all 0.3s ease;
   }
}