.clock {
  font-size: 20px;
  color: #ED2592;
  padding: 10px 20px;
  text-align: right;
  transition: font-size 0.3s ease, padding 0.3s ease;
  background-color: white;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .clock {
    font-size: 16px;
    padding: 8px 16px;
  }
}

@media (max-width: 576px) {
  .clock {
    font-size: 12px;
    padding: 6px 12px;
  }
}