.containerNovoPosts {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buttonNovoDepoimento {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 12px 24px;
  color: #fff;
  background-color: #ED2592;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.buttonNovoDepoimento:hover {
  background-color: #FF4D9D;
}

.depoimentos {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cardsDepoimentos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cardDepoimentos {
  border: 4px solid #ED2592;
  padding: 20px;
  background-color: #A7C1E3;
  border-radius: 30px;
  width: 100%;
  max-width: 700px;
  word-wrap: break-word;
}

.headerDepoimentos {
  text-align: center;
}

.buttonDepoimentos {
  font-weight: 700;
  font-size: 0.9rem;
  padding: 6px 10px;
  color: #fff;
  background-color: #759CCF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.buttonDepoimentos:hover {
  background-color: #ec86be;
}

.btnsDepoimentos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-editDepoimentos,
.btn-deleteDepoimentos {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .cardDepoimentos {
    max-width: 90%;
  }
}

.useEffect{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #ED2592;
}

.clima{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: -10px;
  
}

.previsao{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #A7C1E3;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: -10px;
}