.containerNovoPosts {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

.buttonNovoDepoimento {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 12px 24px;
  color: #fff;
  background-color: #ED2592;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  text-decoration: none;
}

.buttonNovoDepoimento:hover {
  background-color: #FF4D9D;
}

.depoimentos {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cardsDepoimentos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cardDepoimentos {
  border: 4px solid #ED2592;
  padding: 20px;
  background-color: #A7C1E3;
  border-radius: 30px;
  width: 100%;
  max-width: 700px;
  word-wrap: break-word;
}

.headerDepoimentos {
  text-align: center;
}

.buttonDepoimentos {
  font-weight: 700;
  font-size: 0.9rem;
  padding: 6px 10px;
  color: #fff;
  background-color: #759CCF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.buttonDepoimentos:hover {
  background-color: #ec86be;
}

.btnsDepoimentos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-editDepoimentos,
.btn-deleteDepoimentos {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .cardDepoimentos {
    max-width: 90%;
  }
}

.useEffect{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #ED2592;
}

.clima{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  border: none !important;
  max-width: 30%;
  /* margin-left: 200px;
  margin-right: 200px; */
  margin: auto;
  margin-top: 20px;
  padding-left: 5px;
  
}
  

@media (max-width: 768px) {
  .clima {
    padding: 10px;
  }
}

.previsao{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #A7C1E3;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: -10px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 3px 10px black;
 
}

.retangulo{
  border-radius: 5px;
  border: none;
  text-align: center;
}

.retangulo:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}