.principal {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.fundo-azul {
    border-radius: 20px;
    background-color: #cce0f4;
    align-self: stretch;
    width: 100%;
    padding: 48px 29px 0 73px;
    background: linear-gradient(to right, #DCE8F4, #98bdf5);
}

@media (max-width: 991px) {
    .fundo-azul {
        max-width: 100%;
        padding: 0 20px;
    }
}

.pai {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .pai {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

/* ######################################## */

.coluas-esquerda {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .coluas-esquerda {
        width: 100%;
    }
}

.div-orientacao-esquerda {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-orientacao-esquerda {
        max-width: 100%;
        margin-top: 40px;
    }
}

/* ######################################## */

.logo {
    color: #ed2590;
    align-self: center;
    white-space: nowrap;
    margin-top: -70px;
    font: 400 140px Hello Angel, sans-serif;
}

@media (max-width: 991px) {
    .logo {
        font-size: 40px;
        white-space: initial;
    }
}

/* ######################################## */

.bio {
    border-radius: 40px;
    background-color: #fff;
    align-self: stretch;
    display: flex;
    margin-top: 5px;
    margin-left: -10px;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 17px 26px 102px 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);

}

@media (max-width: 991px) {
    .bio {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px 100px;
    }
}

.borda-rosa {
    border-radius: 50%;
    background-color: #ed2590;
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 5px 3px 5px 4px;
}

.img-perfil {
    aspect-ratio: 1.04;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: stretch;
}

.div-nome-perfil {
    align-self: stretch;
    display: flex;
    margin-top: 31px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.barra-rosa {
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #ed2590;
    align-self: stretch;
    display: flex;
    width: 16px;
    height: 63px;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
}

.nome-bio {
    color: #000;
    align-self: center;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 30px Adamina, sans-serif;
}

.letrinhas-cinzas {
    color: #413b3b;
    align-self: center;
    margin-top: 14px;
    max-width: 429px;
    font: 400 19.8px Adamina, sans-serif;
}

.linha-cinza {
    background-color: #c9c9c9;
    align-self: stretch;
    margin-top: 42px;
    width: 100%;
    height: 2px;
}

@media (max-width: 991px) {
    .linha-cinza {
        margin-top: 40px;
    }
}

.div-do-editar-perfil {
    align-self: start;
    display: flex;
    width: 189px;
    max-width: 100%;
    align-items: flex-start;
    gap: 11px;
    margin: 37px 0 0 36px;
}

@media (max-width: 991px) {
    .div-do-editar-perfil {
        margin-left: 10px;
    }
}

.lapis {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 27px;
    overflow: hidden;
    align-self: start;
    margin-top: 4px;
    max-width: 100%;
}

.editar-perfil {
    color: #413b3b;
    align-self: start;
    font: 400 30px Arial, sans-serif;
}

.div-do-recado {
    align-self: start;
    display: flex;
    width: 152px;
    max-width: 100%;
    align-items: flex-start;
    gap: 10px;
    margin: 24px 0 0 37px;
}

@media (max-width: 991px) {
    .div-do-recado {
        margin-left: 10px;
    }
}

.recado {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 27px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
}

.recados {
    color: #413b3b;
    align-self: start;
    font: 400 30px Arial, sans-serif;
}

.div-da-galeria {
    align-self: start;
    display: flex;
    width: 131px;
    max-width: 100%;
    align-items: flex-start;
    gap: 10px;
    margin: 26px 0 0 37px;
}

@media (max-width: 991px) {
    .div-da-galeria {
        margin-left: 10px;
    }
}

.galery {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 27px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
}

.galeria {
    color: #413b3b;
    align-self: start;
    font: 400 30px Arial, sans-serif;
}

.div-depoimento {
    align-self: start;
    display: flex;
    width: 210px;
    max-width: 100%;
    align-items: flex-start;
    gap: 10px;
    margin: 24px 0 -20px 37px;
}

@media (max-width: 991px) {
    .div-depoimento {
        margin: 0 0 10px 10px;
    }
}

.dep {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 27px;
    overflow: hidden;
    align-self: start;
    margin-top: 4px;
    max-width: 100%;
}

.depoimentos {
    color: #413b3b;
    align-self: start;
    font: 400 30px Arial, sans-serif;
}

/* ################################################# */

.coluas-meio {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 55%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .coluas-meio {
        width: 100%;
    }
}

.div-orientacao-meio {
    display: flex;
    margin-top: 17px;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-orientacao-meio {
        max-width: 100%;
        margin-top: 40px;
    }
}

.perfil {
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 76px 30px 122px 34px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px) {
    .perfil {
        max-width: 100%;
        padding: 0 20px 100px;
    }
}

.nome-perfil {
    align-self: stretch;
    color: #000;
    font: 400 53px Arial, sans-serif;
}

@media (max-width: 991px) {
    .nome-perfil {
        max-width: 100%;
        font-size: 40px;
    }
}

.frase-pensamento {
    color: #000;
    align-self: stretch;
    white-space: nowrap;
    align-items: center;
    border-radius: 20px;
    background-color: #e3eaf2;
    margin-top: 49px;
    padding: 14px 40px 14px 16px;
    font: 400 30px Arial, sans-serif;
}



@media (max-width: 991px) {
    .frase-pensamento {
        max-width: 100%;
        white-space: initial;
        padding-right: 20px;
        margin-top: 40px;
    }
}

.div-letrinhas-cinzas-cima {
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 48px;
    gap: 0px;
}

@media (max-width: 991px) {
    .div-letrinhas-cinzas-cima {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }
}

.fa {
    color: #b2b1b4;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 31px Arial, sans-serif;
}

.confiavel {
    color: #b2b1b4;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 31px Arial, sans-serif;
}

.legal {
    color: #b2b1b4;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 31px Arial, sans-serif;
}

.sexy {
    color: #b2b1b4;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 31px Arial, sans-serif;
}

.div-icones {
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
    display: flex;
    margin-top: 49px;
    width: 100%;
    max-width: 1164px;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-icones {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }
}

.estrela {
    aspect-ratio: 1.03;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex: 1;
    margin: auto 0;
}

.smile {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex: 1;
}

.like {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex: 1;
}

.love {
    aspect-ratio: 1.13;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex: 1;
    margin: auto 0;
}

.relacionamento {
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 48px;
    gap: 0px;
}

@media (max-width: 991px) {
    .relacionamento {
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 40px;
    }
}

.relacionamento-cinza {
    color: #b2b1b4;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .relacionamento-cinza {
        max-width: 100%;
    }
}

.casado {
    color: #000;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .casado {
        max-width: 100%;
    }
}

.quem-sou-eu {
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 48px;
    gap: 0px;
}

@media (max-width: 991px) {
    .quem-sou-eu {
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 40px;
    }
}

.quem-sou-eu-cinza {
    color: #b2b1b4;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .quem-sou-eu-cinza {
        max-width: 100%;
    }
}

.texto-quem-sou-eu {
    color: #000;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .texto-quem-sou-eu {
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 40px;
    }
}

.pais {
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 48px;
    gap: 0px;
}

@media (max-width: 991px) {
    .pais {
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 40px;
    }
}

.pais-cinza {
    color: #b2b1b4;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .pais-cinza {
        max-width: 100%;
    }
}

.brasil {
    color: #000;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .brasil {
        max-width: 100%;
    }
}

.linha-cinza-perfil {
    background-color: #c9c9c9;
    align-self: stretch;
    margin-top: 42px;
    width: 100%;
    height: 2px;
}

@media (max-width: 991px) {
    .linha-cinza-perfil {
        margin-top: 40px;
    }
}

.div-interesses-musicas {
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 52px;
    gap: 0px;
}

@media (max-width: 991px) {
    .div-interesses-musicas {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }
}

.musicas {
    color: #b2b1b4;
    align-self: center;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .musicas {
        max-width: 100%;
    }
}

.banda-1 {
    color: #000;
    align-self: stretch;
    white-space: nowrap;
    border-radius: 50px;
    border: 3px solid #ed2590;
    width: 211px;
    max-width: 100%;
    padding: 7px 21px;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .banda-1 {
        white-space: initial;
        padding: 0 20px;
    }
}

.banda-2 {
    color: #000;
    align-self: stretch;
    white-space: nowrap;
    border-radius: 50px;
    border: 3px solid #ed2590;
    width: 129px;
    max-width: 100%;
    padding: 7px 38px 13px 21px;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .banda-2 {
        white-space: initial;
        padding: 0 20px;
    }
}

.banda-3 {
    color: #000;
    align-self: stretch;
    white-space: nowrap;
    border-radius: 50px;
    border: 3px solid #ed2590;
    width: 174px;
    max-width: 100%;
    padding: 7px 27px 13px 21px;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .banda-3 {
        white-space: initial;
        padding: 0 20px;
    }
}

.div-interesses-filmes {
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 53px;
    gap: 0px;
}

@media (max-width: 991px) {
    .div-interesses-filmes {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }
}

.filmes {
    color: #b2b1b4;
    align-self: center;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .filmes {
        max-width: 100%;
    }
}

.filme1 {
    color: #000;
    align-self: stretch;
    white-space: nowrap;
    border-radius: 50px;
    border: 3px solid #ed2590;
    width: 230px;
    max-width: 100%;
    padding: 7px 16px 7px 21px;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .filme1 {
        white-space: initial;
        padding-left: 20px;
    }
}

.filme2 {
    color: #000;
    align-self: stretch;
    white-space: nowrap;
    border-radius: 50px;
    border: 3px solid #ed2590;
    padding: 7px 34px 7px 21px;
    font: 400 29px Arial, sans-serif;
}

@media (max-width: 991px) {
    .filme2 {
        max-width: 100%;
        white-space: initial;
        padding: 0 20px;
    }
}

.div-interesses-livro {
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    gap: 0px;
    margin: 50px 0 -24px;
}

@media (max-width: 991px) {
    .div-interesses-livro {
        max-width: 100%;
        flex-wrap: wrap;
        margin: 40px 0 10px;
    }
}

.livros {
    color: #b2b1b4;
    align-self: center;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .livros {
        max-width: 100%;
    }
}

.livro1 {
    color: #000;
    align-self: stretch;
    white-space: nowrap;
    border-radius: 50px;
    border: 3px solid #ed2590;
    width: 341px;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: auto;
    padding: 6px 29px 14px 21px;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .livro1 {
        white-space: initial;
        padding: 0 20px;
    }
}

/* ############################################ */

.div-50 {
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    align-self: stretch;
    display: flex;
    margin-top: 268px;
    flex-grow: 1;
    flex-direction: column;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 46px 28px 17px 44px;

}

@media (max-width: 991px) {
    .div-50 {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }
}

.div-51 {
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    gap: 0px;
}

@media (max-width: 991px) {
    .div-51 {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.div-52 {
    color: #000;
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .div-52 {
        max-width: 100%;
    }
}

.img-11 {
    aspect-ratio: 1.44;
    object-fit: contain;
    object-position: center;
    width: 46px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
}

.div-53 {
    justify-content: space-between;
    align-self: stretch;
    margin-top: 60px;
}

@media (max-width: 991px) {
    .div-53 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-54 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-54 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-3 {
        width: 100%;
    }
}

.img-12 {
    aspect-ratio: 1.02;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 25%;
}

.column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 69%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-4 {
        width: 100%;
    }
}

.div-55 {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-55 {
        max-width: 100%;
    }
}

.div-56 {
    align-self: stretch;
    color: #000;
    font: 400 53px Arial, sans-serif;
}

@media (max-width: 991px) {
    .div-56 {
        max-width: 100%;
        font-size: 40px;
    }
}

.div-57 {
    align-self: stretch;
    color: #000;
    margin-top: 77px;
    font: 400 28px Arial, sans-serif;
}

@media (max-width: 991px) {
    .div-57 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-58 {
    align-self: stretch;
    color: #b2b1b4;
    margin-top: 77px;
    font: 400 31px Arial, sans-serif;
}

@media (max-width: 991px) {
    .div-58 {
        max-width: 100%;
        margin-top: 40px;
    }
}


.column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 6%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-5 {
        width: 100%;
    }
}

.img-13 {
    aspect-ratio: 0.8;
    object-fit: contain;
    object-position: center;
    width: 64px;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
}

@media (max-width: 991px) {
    .img-13 {
        margin-top: 40px;
    }
}


/* ############################################ */

.coluna-direita {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 24%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .coluna-direita {
        width: 100%;
    }
}

.div-orientacao-direita {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-orientacao-direita {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-amigos {
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: #fff;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 16px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 19px 48px 64px 30px;
}

@media (max-width: 991px) {
    .div-amigos {
        max-width: 100%;
        padding: 0 20px;
    }
}

.div-primeira-dupla-foto {
    justify-content: space-between;
    align-self: stretch;
}

@media (max-width: 991px) {
    .div-primeira-dupla-foto {
        max-width: 100%;
    }
}

.div-primeira-dupla-foto-lado {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-primeira-dupla-foto-lado {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 46%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-7 {
        width: 100%;
    }
}

.div-63 {
    display: flex;
    margin-top: 6px;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-63 {
        margin-top: 40px;
    }
}

.palavra-amigo {
    color: #000;
    font: 400 30px Arial, sans-serif;
}

.img-14 {
    aspect-ratio: 1.02;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 50%
}

@media (max-width: 991px) {
    .img-14 {
        margin-top: 40px;
    }
}

.column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 46%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-8 {
        width: 100%;
    }
}

.div-65 {
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-65 {
        margin-top: 35px;
    }
}

.div-66 {
    align-self: end;
    color: #ed2590;
    font: 400 25px Arial, sans-serif;
}

.img-15 {
    aspect-ratio: 1.02;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 50%
}

@media (max-width: 991px) {
    .img-15 {
        margin-top: 40px;
    }
}

.div-67 {
    justify-content: space-between;
    align-self: stretch;
}

@media (max-width: 991px) {
    .div-67 {
        max-width: 100%;
    }
}

.div-68 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-68 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 46%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-9 {
        width: 100%;
    }
}

.img-16 {
    aspect-ratio: 1.02;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 50%
}

@media (max-width: 991px) {
    .img-16 {
        margin-top: 40px;
    }
}

.column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 46%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-10 {
        width: 100%;
    }
}

.img-17 {
    aspect-ratio: 0.97;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 50%
}

@media (max-width: 991px) {
    .img-17 {
        margin-top: 40px;
    }
}

.div-69 {
    justify-content: space-between;
    align-self: stretch;
    margin-top: 5px;
}

@media (max-width: 991px) {
    .div-69 {
        max-width: 100%;
    }
}

.div-70 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-70 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 46%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-11 {
        width: 100%;
    }
}

.img-18 {
    aspect-ratio: 1.02;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 50%
}

@media (max-width: 991px) {
    .img-18 {
        margin-top: 40px;
    }
}

.column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 46%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-12 {
        width: 100%;
    }
}

.img-19 {
    aspect-ratio: 0.97;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 50%
}

@media (max-width: 991px) {
    .img-19 {
        margin-top: 40px;
    }
}

/* ############################################ */

.div-71 {
    border-radius: 40px;
    background-color: #fff;
    align-self: stretch;
    display: flex;
    margin-top: 300px;
    flex-grow: 1;
    flex-direction: column;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 100px 29px 0 30px;
}

@media (max-width: 991px) {
    .div-71 {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }
}



.div-73 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-73 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-13 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 54%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-13 {
        width: 100%;
    }
}

.div-74 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-74 {
        margin-top: 40px;
    }
}

.div-75 {
    color: #000;
    align-self: end;
    font: 400 30px Arial, sans-serif;
}

.img-20 {
    aspect-ratio: 1.23;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: end;
    margin-top: 52px;
}

@media (max-width: 991px) {
    .img-20 {
        margin-top: 40px;
    }
}

.div-76 {
    color: #000;
    text-align: center;
    margin: 10px 13px 0 0;
    font: 400 20px Arial, sans-serif;
}

@media (max-width: 991px) {
    .div-76 {
        margin-right: 10px;
    }
}

.column-14 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 46%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-14 {
        width: 100%;
    }
}

.div-77 {
    display: flex;
    margin-top: 5px;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-77 {
        margin-top: 40px;
    }
}

.div-78 {
    color: #ed2590;
    align-self: end;
    margin-right: 18px;
    white-space: nowrap;
    font: 400 25px Arial, sans-serif;
}

@media (max-width: 991px) {
    .div-78 {
        margin-right: 10px;
        white-space: initial;
    }
}

.img-21 {
    aspect-ratio: 1.04;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: stretch;
    margin-top: 51px;
}

@media (max-width: 991px) {
    .img-21 {
        margin-top: 40px;
    }
}

.div-79 {
    color: #000;
    text-align: center;
    margin-top: 10px;
    font: 400 20px Arial, sans-serif;
}



@media (max-width: 991px) {
    .div-80 {
        margin-top: 40px;
    }
}

.div-81 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-81 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-15 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-15 {
        width: 100%;
    }
}

.div-82 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-82 {
        margin-top: 40px;
    }
}

.img-22 {
    aspect-ratio: 1.14;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: stretch;
}

.div-83 {
    color: #000;
    text-align: center;
    margin-top: 20px;
    font: 400 20px Arial, sans-serif;
}

.column-16 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-16 {
        width: 100%;
    }
}

.div-84 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-84 {
        margin-top: 40px;
    }
}

.img-23 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: start;
}

.div-85 {
    color: #000;
    text-align: center;
    margin-left: 10px;
    font: 400 20px Arial, sans-serif;
}



@media (max-width: 991px) {
    .div-86 {
        margin-top: 40px;
    }
}

.div-87 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-87 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-17 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 52%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-17 {
        width: 100%;
    }
}

.div-88 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-88 {
        margin-top: 40px;
    }
}

.img-24 {
    aspect-ratio: 1.03;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: stretch;
}

.div-89 {
    color: #000;
    text-align: center;
    align-self: stretch;
    margin-top: 18px;
    font: 400 20px Arial, sans-serif;
}

.column-18 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 48%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-18 {
        width: 100%;
    }
}

.div-90 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-90 {
        margin-top: 40px;
    }
}

.img-25 {
    aspect-ratio: 0.97;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: stretch;
}

.div-91 {
    color: #000;
    text-align: center;
    align-self: stretch;
    margin-top: 20px;
    font: 400 20px Arial, sans-serif;
}