.pai {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    padding: 2vw;
}

@media (max-width: 991px) {
    .pai {
        flex-direction: column;
        gap: 1.5vw;
        padding: 2vw;
    }
}

.coluas-esquerda {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    padding: 1vw;
}

@media (max-width: 991px) {
    .coluas-esquerda {
        width: 100%;
    }
}

.coluas-meio {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.div-orientacao-esquerda {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-orientacao-esquerda {
        margin-top: 40px;
    }
}

.bio {
    border-radius: 40px;
    background-color: #fff;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 17px 26px 102px 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px) {
    .bio {
        margin-top: 40px;
        padding: 0 20px 100px;
    }
}

.borda-rosa {
    border-radius: 50%;
    background-color: #ed2590;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 5px 3px 5px 4px;
}

.img-perfil {
    aspect-ratio: 1.04;
    object-fit: contain;
    width: 100%;
}

.div-nome-perfil {
    align-self: stretch;
    display: flex;
    margin-top: 31px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.barra-rosa {
    border-radius: 40px;
    background-color: #ed2590;
    align-self: stretch;
    display: flex;
    width: 16px;
    height: 63px;
    flex-direction: column;
}

.nome-bio {
    color: #000;
    align-self: center;
    font: 400 30px Adamina, sans-serif;
}

.letrinhas-cinzas {
    color: #413b3b;
    align-self: center;
    margin-top: 14px;
    max-width: 429px;
    font: 400 19.8px Adamina, sans-serif;
}

.linha-cinza {
    background-color: #c9c9c9;
    align-self: stretch;
    margin-top: 42px;
    height: 2px;
}

.div-do-editar-perfil,
.div-do-recado,
.div-da-galeria,
.div-depoimento,
.div-interesses-musicas,
.div-interesses-filmes,
.div-interesses-livro {
    align-self: start;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 24px;
}

.lapis,
.recado,
.galery,
.dep,
.estrela,
.smile,
.like,
.love {
    aspect-ratio: 1;
    object-fit: contain;
    width: 27px;
    overflow: hidden;
    align-self: start;
}

.editar-perfil,
.recados,
.galeria,
.depomentos,
.casado,
.texto-quem-sou-eu,
.brasil,
.bandas,
.filmes,
.livro1 {
    color: #413b3b;
    align-self: start;
    font: 400 30px Arial, sans-serif;
}

.barra-cinza {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #e3eaf2;
    height: 5vh;
}

.frase-pensamento {
    display: flex;
    color: #000;
    align-self: stretch;
    white-space: nowrap;
    align-items: center;
    padding: 14px 40px 14px 16px;
    font: 400 100% Arial, sans-serif;
}

.fa,
.confiavel,
.legal,
.sexy,
.musicas,
.relacionamento-cinza,
.casado,
.quem-sou-eu-cinza,
.pais-cinza,
.filmes,
.livros {
    color: #b2b1b4;
    align-self: stretch;
    font: 400 31px Arial, sans-serif;
}