.comunidade {
  box-sizing: border-box;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.cardComunidade {
  border-radius: 8px;
  margin: 20px 0;
  border: 1px solid #ed2592;
  background-color: #a7c1e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 50vw;
  text-align: left;
  padding: 20px;
  word-wrap: break-word;
  justify-content: center;
 
}

.imagemComunidade
{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-imgComunidade {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
  max-width: 100%;
}

.imagemComunidadeCentralizada {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subCardComunidade {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 10px;
  width: 300px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  padding-left: 3px;
  padding-right: 3px;
  
}

.textoComunidade {
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
}

.textoComunidade h1 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 15px;
}

.textoComunidade p {
  font-size: 16px;
  margin-bottom: 15px;
}

.textoComunidade .piquininim {
  font-size: 14px;
  padding-bottom: 20px;
}

.textoComunidade .piquininim:hover {
  color: #ed2592;
}

.descricao {
  font-size: 14px;
  opacity: 0.6;
  vertical-align: middle;
}

.tituloVertical {
  vertical-align: middle;
}

.cardLinkComunidade {
  cursor: pointer;
  transition: color 0.3s ease;
}

.cardLinkComunidade:hover {
  color: #ed2592;
}

@media (min-width: 768px) {
  .cardComunidade {
    flex-direction: row;
  }

  .card-imgComunidade {
    width: 100px;
    height: 100px;
  }

  .subCardComunidade {
    width: 40%;
    max-width: 300px;
  }
}